{% extends 'base.html' %}
{% load martortags %}
{% load static %}
{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}
{% block content %}
        <div class="row row-cols-1">
            <div class="col text-center">
                {% if SiteConfig.header_image %}<img id="header-image" class="mb-5" src="{{ SiteConfig.header_image.url }}"/>{% endif %}
                <h1>{{ SiteConfig.name }}</h1>
            </div>
            <div class="col">
                <div class="card info p-3 mt-3 mb-5 border border-3 border-dark">{{ SiteConfig.header_info|safe_markdown }}</div>
            </div>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">{% for headmate in Headmates %}{% if headmate.display %}
        <div class="col mb-4">
                <div class="card d-flex h-100" {% if headmate.custom_colour_enabled %}style="{% if headmate.bg_colour %}background-color: {{ headmate.bg_colour }};{% endif %}{% if headmate.shadow_colour %}box-shadow: 5px 10px {{ headmate.shadow_colour }};{% endif %}{% if headmate.border_colour %}border-color: {{ headmate.border_colour }};{% endif %}"{% endif %}>
                    <img src="{{ headmate.image.url }}" class="m-5" alt="{{ headmate.name }}" title="{{ headmate.name }}"{% if headmate.custom_colour_enabled %}{% if headmate.border_colour %} style="border-style: solid; border-width: 3px; border-color: {{ headmate.border_colour }};"{% endif %}{% endif %}>
                    <div class="card-body text-center">
                        <div>
                            <h3 class="card-title">{{ headmate.name }}</h3>
                            <h5 class="card-text">{{ headmate.pronouns }}</h5>
                            <h6 class="card-text">Age: {{ headmate.age }}</h6>
                            {% if headmate.icon %}<img src="{{ headmate.icon.url }}" class="card-icon" alt="{{ headmate.name }} icon" title="{{ headmate.name }} icon">{% endif %}
                        </div>
                        <div>
                            <p class="card-text">{{ headmate.bio|safe_markdown }}</p>
                        </div>
                    </div>
                </div>
            </div>{% endif %}{% endfor %}
        </div>
        {% if SiteConfig.footer_info %}<div class="row row-cols-1">
            <div class="col">
                <div class="card info p-3 mt-3 border border-3 border-dark text-center">
                    <h1>{{ SiteConfig.footer_info|safe_markdown }}</h1>
                    <h5>Last updated {{ SiteConfig.last_updated }}</h5>
                </div>
            </div>{% endif %}
        </div>{% endblock %}